<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="id_phone_number" class="form-label">手机号</label>
            <input type="text" name="phone_number" class="form-control" id="id_phone_number" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="id_class_name" class="form-label">班级</label>
            <input type="text" name="class_name" class="form-control" id="id_class_name" required>
        </div>
        <div class="col-md-12 mb-3">
            <label for="id_headteacher_name" class="form-label">班主任姓名</label>
            <input type="text" name="headteacher_name" class="form-control" id="id_headteacher_name" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">确认报名</button>
</form>